* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background: #1C1C1C;
    color: #F2F2F2;
}

/* Navigation */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #222;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 15px;
    background: #00AEEF;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}


.hero {
    text-align: start;
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
}

/* Featured Games & Reviews */
.game-container, .review-container {
    -webkit-text-fill-color: #1C1C1C;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.game-card, .review-card {
    background: #00AEEF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

/* /Featured Games & Reviews */

.footer {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer-content, .social-media {
    background: #F2F2F2;
    display: flex;
    gap: 20px;
}

.footer-content a, .social-media a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Responsive Design */
@media (min-width: 743px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }
    .nav-links {
        flex-direction: row;
        text-align: center;
    }
    .game-container, .review-container {
        flex-direction: row;
        align-items: center;
    }
}
